@import "../library/_mixin";
@import "../library/_variable";

html {
  background-color: #004DA4;
}
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 17px;
  line-height: 1.8;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.st-Container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: 980px;
  padding: 0 20px;
  box-sizing: border-box;
}