$clr_main: #04C3AE;
$clr_main_light: rgba(4,195,174,0.2);
$clr_accent: #FAE800;
$clr_accent_light: rgba(248,231,28,0.2);
$clr_base: #004DA4;
$clr_base_light: rgba(18,77,158,0.1);
$clr_baseDark: #024690;
$clr_baseWhite: #fff;
$clr_gray: #f4f4f4;
