@charset "UTF-8";

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  color: #fff;
  text-align: center;
  margin: auto;
}

.st-Container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: 980px;
}

h2 {
  letter-spacing: 5px;
}

.home-Title {
  background-color: #04C3AE;
  width: auto;
  position: relative;
  .st-Container {
    height: 750px;
    position: relative;
    .home-Title_Cloud1 {
      position: absolute;
      width: 200px;
      height: 132px;
      top: 450px;
      left: 0;
      margin-left: 100px;
      background-image: url("/images/aerialCloud.png");
      background-repeat: no-repeat;
    }
    .home-Title_Cloud2 {
      position: absolute;
      width: 180px;
      height: 122px;
      top: 150px;
      right: 0;
      margin-right: 130px;
      background-image: url("/images/airplane.png");
      background-repeat: no-repeat;
    }
    .home-Title_Logo {
      position: absolute;
      width: 323px;
      height: 542px;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      background-image: url("/images/title.png");
      background-repeat: no-repeat;
      z-index: 100;
    }
  }
  .home-Title_Cloud3 {
    position: absolute;
    width: 399px;
    height: 555px;
    top: 180px;
    left: 0;
    z-index: 1;
    background-image: url("/images/cloud_left.png");
    background-repeat: no-repeat;
  }
  .home-Title_Cloud4 {
    position: absolute;
    width: 399px;
    height: 555px;
    top: 150px;
    right: 0;
    z-index: 1;
    background-image: url("/images/cloud_right.png");
    background-repeat: no-repeat;
  }
  .home-Title_Wave {
    position: absolute;
    width: 100%;
    height: 217px;
    top: 640px;
    z-index: 2;
    background-image: url("/images/ocean.png");
    background-repeat: repeat-x;
  }
  .home-Title_Elephant {
    position: absolute;
    width: 112px;
    height: 98px;
    top: 600px;
    right: 33%;
    z-index: 3;
    background-image: url("/images/elephant.png");
    background-repeat: no-repeat;
  }
}

.home-Description {
  width: auto;
  background-color: #004DA4;
  padding: 130px 0 70px 0;
  &_Past {
    background-color: #024690;
    border-radius: 100px;
    padding: 20px 0;
    margin-top: 40px;
    p {
      margin-top: 0;
    }
    .home-Description_List {
      a {
        margin-left: 18px;
        margin-right: 18px;
        color: #FAE800;
      }
    }
  }
  h2 {
    margin-top: 0;
  }
}

.home-Share {
  width: auto;
  background-color: #00C5AC;
  padding: 70px 0;
  h2 {
    margin-top: 0;
  }
  .home-Share_List {
    color: #004DA4;
    margin-top: 30px;
    .home-Share_Twitter {
      display: inline-block;
      a {
        text-decoration: none;
        color: #004DA4;
        position: relative;
        display: block;
        padding: 15px 45px;
        font-size: 16px;
        background: #FAE800;
        border-radius: 30px;
        margin-right: 5px;
        &:hover {
          opacity: .8;
        }
      }
      a:before {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top: 15px solid #FAE800;
      }
      i {
        margin-top: 20px;
      }
    }
    .home-Share_Facebook {
      display: inline-block;
      a {
        text-decoration: none;
        color: #004DA4;
        position: relative;
        display: block;
        padding: 15px 45px;
        font-size: 16px;
        background: #FAE800;
        border-radius: 30px;
        margin-left: 5px;
        &:hover {
          opacity: .8;
        }
      }
      a:before {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        border-top: 15px solid #FAE800;
      }
      i {
        margin-top: 20px;
      }
    }
  }
}

.home-Follow {
  width: auto;
  color: #004DA4;
  background-color: #fff;
  padding: 70px 0;
  h2 {
    margin-top: 0;
  }
  .home-Follow_SNS {
    margin-top: 40px;
    .home-Follow_Twitter {
      display: inline-block;
      background-color: #FAE800;
      border-radius: 30px;
      padding: 15px 30px;
      margin-right: 5px;
      text-decoration: none;
      color: #004DA4;
      &:hover {
        opacity: .8;
      }
    }
    .home-Follow_Facebook {
      display: inline-block;
      background-color: #FAE800;
      border-radius: 30px;
      padding: 15px 30px;
      margin-left: 5px;
      text-decoration: none;
      color: #004DA4;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.st-Footer {
  width: auto;
  background-color: #004DA4;
  padding: 15px 0;
  &_Copyright {
    a {
      color: #fff;
    }
  }
  p {
    margin-bottom: 0;
  }
}
