doctype html
html(lang="ja")
    head
        link(rel="stylesheet" type="text/css" href="/css/common.css")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    body
        .home-Title
            .st-Container
                .home-Title_Cloud1
                .home-Title_Cloud2
                .home-Title_Logo
            .home-Title_Cloud3
            .home-Title_Cloud4
            .home-Title_Wave
            .home-Title_Elephant
        .home-Description
            .st-Container
                h2 about
                    br
                    | php conference Kansai 2018
                p 【ロレムです】PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。 今年で7回目の開催となるPHPカンファレンス関西2017は、7月15日(土)にグランフロントで開催いたします。 詳細情報は本サイトの更新をチェック！
                .home-Description_Past
                    p 過去のイベントの様子はこちら
                    .home-Description_List
                        a(href="https://2017.kphpug.jp/" target="_blank") 2017
                        a(href="http://conference.kphpug.jp/2016/" target="_blank") 2016
                        a(href="http://conference.kphpug.jp/2015/" target="_blank") 2015
                        a(href="http://conference.kphpug.jp/2014/" target="_blank") 2014
                        a(href="http://conference.kphpug.jp/2013/" target="_blank") 2013
                        a(href="http://conference.kphpug.jp/2012/" target="_blank") 2012
                        a(href="http://conference.kphpug.jp/2011/" target="_blank") 2011
        .home-Share
            .st-Container
                h2 Share on SNS
                p 【ロレムです】PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。 今年で7回目の開催となるPHPカンファレンス関西2017は、7月15日(土)にグランフロントで開催いたします。 詳細情報は本サイトの更新をチェック！
                .home-Share_SNS
                    label.home-Share_Twitter twitterでつぶやく
                        i.fa.fa-twitter.fa-2x(aria-hidden="true")
                    label.home-Share_Facebook Facebookでシェア
                        i.fa.fa-facebook.fa-2x(aria-hidden="true")
        .home-Follow
            .st-Container
                h2 Follow SNS
                p PHPカンファレンス関西のSNSアカウントをフォローして
                    br
                    | 最新情報チェック！
                .home-Follow_SNS
                    a(href="https://twitter.com/phpcon_kansai" target="_blank")
                        label.home-Follow_Twitter
                            i.fa.fa-twitter.fa-lg(aria-hidden="true")
                            span &nbsp;twitterアカウント
                    a(href="https://www.facebook.com/pcon.kansai/" target="_blank")
                        label.home-Follow_Facebook
                            i.fa.fa-facebook.fa-lg(aria-hidden="true")
                            span &nbsp;Facebookグループ
        .st-Footer
            .st-Container
                label.st-Footer_Copyright Copyright
                    a(href="http://www.kphpug.jp/" target="_blank")
                        span @ Kansai PHP Users Group
                p お問い合わせはFacebookグループのメッセージからお願いします