doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        title PHPカンファレンス関西2018 は 7月14日(土)にグランフロント大阪にて開催!
        meta(name="description", content="関西PHPerの夏はこれがなくちゃ始まらない！今年で８回目となる関西最大級のPHPイベント、今年も開催です。全国PHPerが大阪に集結「PHPカンファレンス関西」で心に残る夏の思い出を！")
        meta(name="viewport" content="width=980, minimum-scale=0.25")
        //- TODO サイトリニューアル時に変更
        //- meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
        //- CSS　font
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        //- font
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
        //- favicon
        link(rel="icon", type="image/png",href="/images/favicon.ico")
        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        //- js
        script(type="text/javascript" src="/js/script.js")
        //- ogp
        meta(property='og:title', content='PHPカンファレンス関西2018 は 7月14日(土)にグランフロント大阪にて開催!')
        meta(property='og:image', content='https://2018.kphpug.jp/images/ogp.jpg')
        meta(property='og:url', content='https://2018.kphpug.jp/')
        meta(property='og:description', content='関西PHPerの夏はこれがなくちゃ始まらない！「PHPカンファレンス関西2018」で心に残る夏の思い出を！')
        //- ogpTwitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@phpcon_kansai')
        meta(name='twitter:creator', content='@phpcon_kansai')
        meta(name='twitter:title', content='PHPカンファレンス関西2018 は 7月14日(土)にグランフロント大阪にて開催!')
        meta(name='twitter:description', content='関西PHPerの夏はこれがなくちゃ始まらない！「PHPカンファレンス関西2018」で心に残る夏の思い出を！')
        meta(name='twitter:image', content='https://2018.kphpug.jp/images/ogp.jpg')
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-66526811-11')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-66526811-11');
    body
        .home-Title
            .st-Container
                .home-Title_Cloud1
                .home-Title_Cloud2
                .home-Title_Logo
            .home-Title_Cloud3
            .home-Title_Cloud4
            .home-Title_Wave
            .home-Title_Elephants
                a.home-Title_Attention(href="#home-Wanted") スポンサー募集中！
                .home-Title_Elephant

        .home-Description
            .st-Container
                h2.home-Description_Title About
                    br
                    | php conference Kansai 2018
                p.home-Description_Intro
                    | 関西PHPerの夏はこれがなくちゃ始まらない！
                    br
                    | 今年で８回目となる関西最大級のPHPイベント、今年も開催です。
                    br
                    br
                    | 全国PHPerが大阪に集結「PHPカンファレンス関西」で心に残る夏の思い出を！
                .home-Past
                    p 過去のイベントの様子はこちら
                    .home-Past_List
                        a(href="https://2017.kphpug.jp/" target="_blank") 2017
                        a(href="http://conference.kphpug.jp/2016/" target="_blank") 2016
                        a(href="http://conference.kphpug.jp/2015/" target="_blank") 2015
                        a(href="http://conference.kphpug.jp/2014/" target="_blank") 2014
                        a(href="http://conference.kphpug.jp/2013/" target="_blank") 2013
                        a(href="http://conference.kphpug.jp/2012/" target="_blank") 2012
                .home-Wanted#home-Wanted
                    h2.home-Wanted_Title
                        | Wanted! Sponsor

                    p.home-Wanted_Description
                        | ご協賛頂けるスポンサー様を募集しています。
                        br
                        | 皆様のご応募・ご協賛をお待ちしております。
                    a.home-Wanted_Sponsor(href="https://goo.gl/forms/6hQhy1UyF2dbLI132" target="_blank")
                        i.fa.fa-star.fa-lg(aria-hidden="true")
                        span &nbsp;スポンサー申込み
        .home-Share
            .st-Container
                h2.home-Share_Title Share on SNS
                p.home-Share_Description
                    | ワクワクをシェアしよう！
                    br
                    | イベントに関する要望等もお待ちしております。
                .home-Share_List
                    .home-Share_Twitter
                        a(href="https://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月14日(土)にグランフロント大阪にて開催! PHPカンファレンス関西2018 https://2018.kphpug.jp&hashtags=phpkansai" target="_blank") twitterでつぶやく
                        i.fa.fa-twitter.fa-2x(aria-hidden="true")
                    .home-Share_Facebook
                        a(href="https://www.facebook.com/sharer.php?u=https://2018.kphpug.jp&amp;t=関西最大のPHPイベントは7月14日(土)にグランフロント大阪にて開催! PHPカンファレンス関西2018&hashtags=phpkansai" target="_blank") Facebookでシェア
                        i.fa.fa-facebook.fa-2x(aria-hidden="true")
        .home-Follow
            .st-Container
                h2.home-Follow_Title Follow SNS
                p PHPカンファレンス関西のSNSアカウントをフォローして
                    br
                    | 最新情報チェック！
                .home-Follow_SNS
                    a.home-Follow_Twitter(href="https://twitter.com/phpcon_kansai" target="_blank")
                        i.fa.fa-twitter.fa-lg(aria-hidden="true")
                        span &nbsp;twitterアカウント
                    a.home-Follow_Facebook(href="https://www.facebook.com/pcon.kansai/" target="_blank")
                        i.fa.fa-facebook.fa-lg(aria-hidden="true")
                        span &nbsp;Facebookグループ
        .st-Footer
            .st-Container
                label.st-Footer_Copyright Copyright @&nbsp;
                    a(href="http://www.kphpug.jp/" target="_blank")
                        span Kansai PHP Users Group
                p
                    | お問い合わせは
                    a(href="https://www.facebook.com/pcon.kansai/" target="_blank") Facebookグループ
                    | のメッセージからお願いします