@import "library/_mixin";
@import "library/_variable";

.home-Title {
  width: auto;
  background-color: $clr_main;
  position: relative;
  .st-Container {
    height: 750px;
    position: relative;
    .home-Title_Cloud1 {
      margin-left: 100px;
      width: 200px;
      height: 132px;
      background-image: url("/images/aerialCloud.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 450px;
      left: 0;
    }
    .home-Title_Cloud2 {
      margin-right: 130px;
      width: 180px;
      height: 122px;
      background-image: url("/images/airplane.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 150px;
      right: 0;
    }
    .home-Title_Logo {
      z-index: 100;
      margin-left: auto;
      margin-right: auto;
      width: 323px;
      height: 542px;
      background-image: url("/images/title.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .home-Title_Cloud3 {
    z-index: 1;
    width: 399px;
    height: 555px;
    background-image: url("/images/cloud_left.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 210px;
    left: 0;
  }
  .home-Title_Cloud4 {
    z-index: 1;
    width: 399px;
    height: 555px;
    background-image: url("/images/cloud_right.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    right: 0;
  }
  .home-Title_Wave {
    z-index: 2;
    width: 100%;
    height: 217px;
    background-image: url("/images/ocean.png");
    background-repeat: repeat-x;
    position: absolute;
    top: 660px;
  }
  .home-Title_Elephants {
    z-index: 3;
    position: absolute;
    top: 680px;
    right: calc(50vw - 205px);
    background: right;
    text-align: right;
  }
  .home-Title_Elephant {
    display: inline-block;
    width: 112px;
    height: 98px;
    background-image: url("/images/elephant.png");
    background-repeat: no-repeat;
  }
  .home-Title_Attention {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: bold;
    color: $clr_base;
    text-decoration: none;
    text-align: center;
    background: $clr_accent;
    position: relative;
    top: -130px;
    &::after {
      display: inline-block;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("~/assets/images/parts_triangle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top:42px;
      right: 20px;
    }
  }
}
.home-Description {
  padding: 130px 0 70px 0;
  width: auto;
  background-color: $clr_base;
  &_Title {
    @include secTitle;
  }
  &_Intro {
    margin-bottom: 50px;
  }
}
.home-Past {
  margin-bottom: 60px;
  padding: 20px 0;
  border-radius: 100px;
  background: $clr_baseDark;
  &_List {
    a {
      margin-left: 18px;
      margin-right: 18px;
      color: $clr_accent;
    }
  }
}
.home-Wanted {
  padding: 40px 100px 70px;
  border-radius: 80px;
  background: $clr_accent;
  &_Title {
    @include secTitle($clr_base);
  }
  &_Description {
    color: $clr_base;
    margin-bottom: 50px;
  }
  &_Speaker {
    @include button(#fff,$clr_base);
    margin-right: 20px;
  }
  &_Sponsor {
    @include button(#fff,$clr_base);
  }
}
.home-Share {
  padding: 70px 0;
  width: auto;
  background-color: #00C5AC;

  &_Title {
    @include secTitle();
  }
  &_Description {

  }
  .home-Share_List {
    margin-top: 30px;
    color: $clr_base;

    .home-Share_Twitter {
      @include buttonSns;
    }

    .home-Share_Facebook {
      @include buttonSns;
    }
  }
}

.home-Follow {
  width: auto;
  color: $clr_base;
  background-color: #fff;
  padding: 70px 0;

  &_Title {
    @include secTitle($clr_base);
  }

  &_SNS {
    margin-top: 40px;
    .home-Follow_Twitter {
      @include button();
    }
    .home-Follow_Facebook {
      @include button();
    }
  }
}
